@use "../abstracts";
@import "src/assets/fonts/stylesheet.css";

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
    color: var(--text-color);
    background: var(--body-bg);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
    padding: 0;
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
}

input,
textarea {
    background: transparent;
}

textarea {
    resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
    transition: background-color 1s 9999s;
    -webkit-text-fill-color: var(--text-color);
    caret-color: var(--text-color);
}

.hash-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 80px;

    a {
        display: inline-block;
        padding-left: 15px;
        line-height: 35px;
        border-left: 4px solid var(--primary-color);
    }

    @include abstracts.screen(lg) {
        margin-bottom: 40px;
        font-size: 3.6rem;
    }
}
