.hero {
    height: calc(100vh - 80px);
    position: absolute;
    width: 100%;
}

.hero-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
}

.hero-title {
    text-align: center;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 2.3em;
    font-weight: 600;
    line-height: 63px;
    text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%),
        0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%),
        0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%),
        0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%),
        0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
        0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
        0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}

.hero-textrun {
    min-width: 365px;
    margin-top: 25px;
    font-size: 2.6rem;
    font-weight: 500;
}

.hero-footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    cursor: pointer;

    .mouse-btn {
        width: 25px;
        height: 40px;
        border: 2px solid rgba(122, 122, 124, 0.918);
        border-radius: 999px;
        display: flex;
    }

    .mouse-scroll {
        display: block;
        width: 5px;
        height: 12px;
        background: linear-gradient(
            170deg,
            rgba(122, 122, 124, 0.918),
            rgb(123, 124, 124)
        );
        border-radius: 4px;
        margin: auto;
        animation: scrolling13 1.5s linear infinite;
    }

    @keyframes scrolling13 {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }

        100% {
            opacity: 1;
            transform: translateY(-2px);
        }
    }
}
