.about-container {
    padding: 170px 0;
}

.about-title {
    font-size: 2rem;
    line-height: 30px;
}

.about-desc {
    margin-top: 35px;

    li + li {
        margin-top: 23px;
    }

    svg {
        width: 63px;
    }
}
